# scsi compat links for ATA devices
KERNEL=="sd*[!0-9]", PROGRAM="/usr/lib/udev/id_serial.sh %p $tempnode", RESULT=="?*", ENV{ID_SCSI_COMPAT}="$result", SYMLINK+="disk/by-id/scsi-$env{ID_SCSI_COMPAT}"
KERNEL=="sd*[0-9]", ENV{ID_SCSI_COMPAT}=="?*", SYMLINK+="disk/by-id/scsi-$env{ID_SCSI_COMPAT}-part%n"

# CA-58379 - because HP decided to crossport their gen6 controlers from cciss to hpsa, which breaks /dev/disk/by-id/* links
ATTRS{vendor}=="0x103c", ATTRS{device}=="0x323a", ATTRS{subsystem_vendor}=="0x103c", ATTRS{subsystem_device}=="0x324?", ATTRS{class}=="0x010400", GOTO="CA-58379-start"

GOTO="CA-58379-end"

LABEL="CA-58379-start"
# Problematic controller
KERNEL=="sd*[!0-9]|sr*", ENV{ID_SERIAL}=="", IMPORT{program}="/lib/udev/scsi_id -g -x -s %p -d $tempnode"
KERNEL=="cciss?c[0-9]d[0-9]", ENV{ID_SERIAL}=="", IMPORT{program}="/bin/sh -c 'echo ID_SERIAL=`/usr/lib/udev/cciss_id $$(echo %k|sed s,/,!,)`'", ENV{ID_BUS}="cciss"
KERNEL=="sd*[!0-9]", ENV{ID_SERIAL}=="?*", SYMLINK+="disk/by-id/cciss-$env{ID_SERIAL}"

KERNEL=="sd*[0-9]", IMPORT{parent}=="ID_*"
KERNEL=="sd*[0-9]", ENV{ID_SERIAL}=="?*", SYMLINK+="disk/by-id/cciss-$env{ID_SERIAL}-part%n"

LABEL="CA-58379-end"
